html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

html{
  font-family: neue-haas-unica, 'helvetica neue', arial, helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}
  @media (min-width: 1024px){
    html{
      font-size: 1.45vw;
    }
  }

.serif{
  font-family: times, serif;
  font-size: 1.06em;
}
.italic{
  font-style: italic;
}
a,
.red{
  color: #FF0000;
}


/***********************************
************************************
************************************
************************************

HEADER

************************************
************************************
************************************
***********************************/

header{
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;  
  text-align: center;
}
  header h1{
    font-family: times, serif;
    font-size: 1.06em;
    color: #ff0000;
    font-style: italic;
  }
  header h1,
  header h2{
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  header hgroup{
    margin-bottom: 0;
  }
  

/***********************************
************************************
************************************
************************************

MODES

************************************
************************************
************************************
***********************************/
body{
  transition: background-color 4s ease-out, color 4s ease-in;
}

  body.streaming{
    background: #111111;
    color: #FFFFFF;
  }
    body.streaming .txt .fig--footnote{
      background: #111111;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }    

  body.not-streaming{
    background: #FFFFFF;
    color: #111111;
  }
    body.not-streaming .txt .fig--footnote{
      background: #FFFFFF;
      color: #111111;
      border-color: #111111;
    }    


/***********************************
************************************
************************************
************************************

STREAM SECTION

************************************
************************************
************************************
***********************************/

.stream-wrapper{  
  width: 100%;  
} 

  .stream-wrapper .upcoming-streams{
    text-align: center;
    padding: 2rem 1rem;  
    box-sizing: border-box;
  }
  .stream-wrapper .upcoming-streams ol{
    list-style-type: none;    
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }    
    .stream-wrapper .upcoming-streams .remaining{
      margin-left: .5em;
      white-space: nowrap;
    }

.stream{
  height: 100%;
  max-height: 100vh;
  position: relative;
}
  .stream .stream--media{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    max-height: 100vh;
  }

  .stream .stream--placeholder{
    height: 100%;
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }

.stream--controls{
  display: flex;
  justify-content:space-around;    
  position: fixed;  
  bottom: 0;
  width: 100%; 
  box-sizing: border-box;
  padding: .4rem 0.6rem 0.7rem;
  z-index: 99;
}
  .stream--controls button{
    color: #000000;
    transition: color .75s ease-in;
    background-color: transparent;
    height: 1rem;
    border: none;
    border-radius: 0;    
    width: auto;
    cursor: pointer;
    padding: 0;
    line-height: 1rem;    
    margin: 0 .4rem;
    font-family: inherit;
    font-size: inherit;
  }
  .stream--controls button svg{
    height: 1.1rem;
    width: 1.1rem;
    transform: translateX(-.05rem) translateY(-.05rem);
  }
    .stream--controls button svg path{
      fill: #000000;    
    }
    .stream--controls button.controls--live{
      width: auto;
      white-space: nowrap;
      color: #FF0000;
      margin-top: -0.1rem;
    }
    .stream--controls button.controls--live.not-live{
      color: #000000;
    }


  .stream--controls input[type=range] {
    width: 100%;
    margin: 0 .4rem;
    background-color: rgba(0,0,0,0.1);
    -webkit-appearance: none;
  }
  .stream--controls input[type=range]:focus {
    outline: none;
  }
  .stream--controls input[type=range]::-webkit-slider-runnable-track {
    transition: background-color 4s ease-out;
    background: transparent;
    border: 0;
    width: 100%;
    height: 1rem;
    cursor: pointer;
  }
  .stream--controls input[type=range]::-webkit-slider-thumb {
    background: #FF0000;
    margin-top: 0px;
    width: .3rem;
    height: 1rem;    
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
  }
  .stream--controls input[type=range]:focus::-webkit-slider-runnable-track {
    transition: background-color 4s ease-out;
    background: transparent
  }
  .stream--controls input[type=range]::-moz-range-track {
    transition: background-color 4s ease-out;
    background: transparent;
    border: 0;
    width: 100%;
    height: 1rem;
    cursor: pointer;
  }
  .stream--controls input[type=range]::-moz-range-thumb {
    background: #FF0000;
    width: .3rem;
    height: 1rem;    
    border: 0;
    cursor: pointer;
    border-radius: 0;
  }
  .stream--controls input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0px 0;
    color: transparent;
    width: 100%;
    height: 1rem;
    cursor: pointer;
  }
  .stream--controls input[type=range]::-ms-fill-lower {
    transition: background-color 4s ease-out;
    background: transparent;
    border: 0;
  }
  .stream--controls input[type=range]::-ms-fill-upper {
    transition: background-color 4s ease-out;
    background: transparent;
    border: 0;
  }
  .stream--controls input[type=range]::-ms-thumb {
    background: #FF0000;
    width: .3rem;
    height: 1rem;    
    border: 0;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 0;
    /*Needed to keep the Edge thumb centred*/
  }
  .stream--controls input[type=range]:focus::-ms-fill-lower {
    transition: background-color 4s ease-out;
    background: transparent;
  }
  .stream--controls input[type=range]:focus::-ms-fill-upper {
    transition: background-color 4s ease-out;
    background: transparent;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    .stream--controls input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
 
body.streaming .stream--controls button svg path{
  fill: #FFFFFF;
}
  body.streaming .stream--controls input[type=range]{
    background-color: rgba(255,255,255,0.1);
  }

  body.streaming .stream--controls button.controls--live.not-live{
    color: #FFFFFF;
  }
  /* body.streaming .stream--controls input[type=range]::-webkit-slider-runnable-track {
    background: #111111;
  }
  body.streaming .stream--controls input[type=range]::-moz-range-track {
    background: #111111;
  }  
  body.streaming .stream--controls input[type=range]::-ms-fill-lower {
    background: #111111;
  }
  body.streaming .stream--controls input[type=range]::-ms-fill-upper {
    background: #111111;
  }  
  body.streaming .stream--controls input[type=range]:focus::-ms-fill-lower {
    background: #111111;
  }
  body.streaming .stream--controls input[type=range]:focus::-ms-fill-upper {
    background: #111111;
  } */

/***********************************
************************************
************************************
************************************

PLACEHOLDER FOR STREAM LOAD

************************************
************************************
************************************
***********************************/

@media ( orientation: portrait ){
  #stream-root.loading{
    min-height: calc( (100vw/4) * 3);;
  }
  .stream-wrapper__placeholder .stream{
    height: calc( (100vw/4) * 3);
  }
}

@media ( orientation: landscape ){
  #stream-root.loading{
    min-height: 100vh;
  }
  .stream-wrapper__placeholder .stream{
    height:100vh;    
  }
}


/***********************************
************************************
************************************
************************************

TEXT / ESSAY

************************************
************************************
************************************
***********************************/

.txt{
  padding-top: 1rem;
}

  .txt .fig--visual{
    margin: 2rem 0;
  }
    .txt > .fig--visual:last-child{
      margin-bottom: 0;
    }
    .fig--visual__inset{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .txt .fig--visual .tweet{
      font-size: 0.8rem;
      width: 100%;
      margin: 0 auto;
    }
    .txt .fig--visual .tweet .twitter-tweet{
      transform: scale(0.82);
    }
  .txt .fig--visual img,
  .txt .fig--visual video{
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

    .txt .fig--visual img+img{
      margin-top: 1rem;
    }

  .txt .fig--visual .video-container{
    max-width: 70%;
    height: auto;
    margin-left: auto;  
    margin-right: auto;
    position: relative;
  }
    .txt .fig--visual .video-container .mute-unmute{      
      background: none;
      border: none;
      font-size: inherit;
      padding: 0;
      width: 1.1rem;
      height: 1.1rem;
      position: absolute;      
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
    .txt .fig--visual .video-container .mute-unmute svg path{
      fill: #FFFFFF;
    }
      .txt .fig--visual .video-container .mute-unmute.muted .on-muted{
        display: block;
      }
      .txt .fig--visual .video-container .mute-unmute.muted .on-unmuted{
        display: none;
      }
      .txt .fig--visual .video-container .mute-unmute.unmuted .on-unmuted{
        display: block;
      }
      .txt .fig--visual .video-container .mute-unmute.unmuted .on-muted{
        display: none;
      }


  .txt .fig--visual__large img{
    width: 100%;
  }

  .txt section,
  .txt footer{      
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
  }
  .txt footer{    
    padding-bottom: 10rem;
    padding-bottom: 10vh;
  }
  .txt .fig--footnote{       
    font-family: times, serif;       
    font-size: 0.8em;      
    line-height: 1.1;
    padding: 1rem 2rem;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: .3s ease-out;
    z-index: 50;
    border-top: 1px solid;
  }
    .txt .fig--footnote .footnote--num{
      font-size: .6rem;
    }
    .txt .fig--footnote p{
      margin-top: 0;
    }
  .txt .fig--footnote.visible{
    transform: translateY(0);
    padding-bottom: 2rem;
  }
    @media (min-width: 720px){
      .txt section,
      .txt footer{
        width: 47%;
      }
      .txt .fig--footnote{          
        padding: 0;
        text-align: right;
        width: 15vw;  
        position: absolute;
        right: 100%;
        left: auto;
        transform: none;
        padding-bottom: 1rem;
        border: none;
        bottom: auto;
      }
      .txt .fig--footnote.visible{
        padding-bottom: 1rem;
      }
    }

  .txt a[href^="#ftnt"]{
    font-size: .6rem;
    color: #111111;
    text-decoration: none;
    vertical-align: super;
  }
  .txt q,  
  .txt a{
    font-family: times, serif;
    font-size: 1.06em;
  }
  .txt q{
    font-style: italic;
  }