html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

html{
  font-family: neue-haas-unica, 'helvetica neue', arial, helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}
  @media (min-width: 1024px){
    html{
      font-size: 1.45vw;
    }
  }

.serif{
  font-family: times, serif;
  font-size: 1.06em;
}
.italic{
  font-style: italic;
}
a,
.red{
  color: #FF0000;
}


/***********************************
************************************
************************************
************************************

HEADER

************************************
************************************
************************************
***********************************/

header{
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;  
  text-align: center;
}
  header h1{
    font-family: times, serif;
    font-size: 1.06em;
    color: #ff0000;
    font-style: italic;
  }
  header h1,
  header h2{
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  header hgroup{
    margin-bottom: 0;
  }
  

/***********************************
************************************
************************************
************************************

MODES

************************************
************************************
************************************
***********************************/
body{
  transition: background-color 8s ease-out, color 8s ease-in;
}
  body.cancel-fade{
    transition: none;
  }

  body.streaming{
    background: #333333;
    color: #FFFFFF;
  }
    body.streaming .txt .fig--footnote{
      background: #333333;
      color: #FFFFFF;
      border-color: #FFFFFF;
    }    

  body.not-streaming{
    background: #FFFFFF;
    color: #333333;
  }
    body.not-streaming .txt .fig--footnote{
      background: #FFFFFF;
      color: #333333;
      border-color: #333333;
    }    


/***********************************
************************************
************************************
************************************

STREAM SECTION

************************************
************************************
************************************
***********************************/

@keyframes slide-down {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#stream-root,
#stream-placeholder{
  transition: opacity .3s ease-in-out;
}
#stream-root{
  opacity: 1;
}
#stream-root.loading{
  opacity: 0;
}
#stream-placeholder{
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
  #stream-placeholder.loading,
  #stream-placeholder.hide{
    opacity: 0;
    pointer-events: none;
  }

.stream-wrapper{  
  width: 100%;  
} 

  .stream-wrapper .upcoming-streams{
    text-align: center;
    padding: 2rem 1rem;  
    box-sizing: border-box;
  }
  .stream-wrapper .upcoming-streams ol{
    list-style-type: none;    
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }    
    .stream-wrapper .upcoming-streams .remaining{
      margin-left: .5em;
      white-space: nowrap;
    }

.stream{
  height: 100%;
  max-height: 100vh;
  position: relative;
}
  .stream .stream--media{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    max-height: 100vh;
    max-width: 100%;
    animation: fade-in 1s ease-in-out 2s;    
    animation-fill-mode: both;
  }
    .stream .stream--media img{
      max-width: 100%;
    }

  .stream .stream--placeholder{
    height: 100%;
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
  }

.stream--controls{
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: fixed;  
  top: 0;
  width: 100%; 
  box-sizing: border-box;
  padding: 0.7rem 0.6rem 0.4rem;
  z-index: 99;
  transform: translateY(100%);
  animation: slide-down 1s ease-in-out 7s;
  animation-fill-mode: both;
} 
  body.cancel-fade .stream--controls{
    /*animate immediately*/
    animation: slide-down 1s ease-in-out;
    animation-fill-mode: both;
  }
  @media (min-width: 720px){
    .stream--controls{
      padding: 0.4rem 0.6rem 0.7rem;
      animation: slide-up 1s ease-in-out 7s;
      animation-fill-mode: both;
      top: auto;
      bottom: 0;
    }
    body.cancel-fade .stream--controls{
      animation: slide-up 1s ease-in-out;
      animation-fill-mode: both;
    }
  } 
  .stream--controls .controls--bar{
    height: .8rem;
    background: #FF0000;
    flex-grow: 2;
    margin: 0 .4rem;
  }

  .stream--controls .controls--live{
    width: auto;
    white-space: nowrap;
    color: #FF0000;
    margin: -0.1rem .4rem 0;
  }

  .stream--controls button{
    transition: color .75s ease-in;
    background-color: transparent;
    height: 1rem;
    border: none;
    border-radius: 0;    
    width: auto;
    cursor: pointer;
    padding: 0;
    line-height: 1rem;    
    margin: 0 .4rem;
    font-family: inherit;
    font-size: inherit;
  }
  .stream--controls button svg{
    height: 1.1rem;
    width: 1.1rem;
    transform: translateX(-.05rem) translateY(-.05rem);
  }
    .stream--controls button svg path{
      fill: #FFFFFF;    
    }
    .stream--controls .controls--fullscreen svg{
      height: 0.9rem;
      width: 0.9rem;
      transform: translateX(.05rem) translateY(.05rem);
    }


 


/***********************************
************************************
************************************
************************************

PLACEHOLDER FOR STREAM LOAD

************************************
************************************
************************************
***********************************/

@media ( orientation: portrait ){
  #stream-root.loading{
    min-height: calc( (100vw/4) * 3);;
  }
  .stream-wrapper__placeholder .stream{
    height: calc( (100vw/4) * 3);
  }
}

@media ( orientation: landscape ){
  #stream-root.loading{
    min-height: 100vh;
  }
  .stream-wrapper__placeholder .stream{
    height:100vh;    
  }
}


/***********************************
************************************
************************************
************************************

TEXT / ESSAY

************************************
************************************
************************************
***********************************/

.txt{
  padding-top: 1rem;
}

  .txt .fig--visual{
    margin: 2rem 0;
  }
    .txt > .fig--visual:last-child{
      margin-bottom: 0;
    }
    .fig--visual__inset{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .txt .fig--visual .tweet{
      font-size: 0.8rem;
      width: 100%;
      margin: 0 auto;
    }
    .txt .fig--visual .tweet .twitter-tweet{
      transform: scale(0.82);
    }
  .txt .fig--visual img,
  .txt .fig--visual video{
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

    .txt .fig--visual img+img{
      margin-top: 1rem;
    }

  .txt .fig--visual .video-container{
    max-width: 70%;
    height: auto;
    margin-left: auto;  
    margin-right: auto;
    position: relative;
  }
    .txt .fig--visual .video-container .mute-unmute{      
      background: none;
      border: none;
      font-size: inherit;
      padding: 0;
      width: 1.1rem;
      height: 1.1rem;
      position: absolute;      
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
    .txt .fig--visual .video-container .mute-unmute svg path{
      fill: #FFFFFF;
    }
      .txt .fig--visual .video-container .mute-unmute.muted .on-muted{
        display: block;
      }
      .txt .fig--visual .video-container .mute-unmute.muted .on-unmuted{
        display: none;
      }
      .txt .fig--visual .video-container .mute-unmute.unmuted .on-unmuted{
        display: block;
      }
      .txt .fig--visual .video-container .mute-unmute.unmuted .on-muted{
        display: none;
      }


  .txt .fig--visual__large img{
    width: 100%;
  }

  .txt section,
  .txt footer{      
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0 auto;
    position: relative;
  }
  .txt footer{    
    padding-bottom: 10rem;
    padding-bottom: 10vh;
  }
  .txt .fig--footnote{       
    font-family: times, serif;       
    font-size: 0.8em;      
    line-height: 1.1;
    padding: 1rem 2rem;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: .3s ease-out;
    z-index: 50;
    border-top: 1px solid;
  }
    .txt .fig--footnote .footnote--num{
      display: block;
      font-size: .6rem;
    }
    .txt .fig--footnote p{
      margin-top: 0;
    }
  .txt .fig--footnote.visible{
    transform: translateY(0);
    padding-bottom: 2rem;
  }
    @media (min-width: 720px){
      .txt section,
      .txt footer{
        width: 47%;
      }
      .txt .fig--footnote{          
        padding: 0;
        text-align: right;
        width: 15vw;  
        position: absolute;
        right: 100%;
        left: auto;
        transform: none;
        padding-bottom: 1rem;
        border: none;
        bottom: auto;
      }
      .txt .fig--footnote.visible{
        padding-bottom: 1rem;
      }
    }

  .txt a[href^="#ftnt"]{
    font-size: .6rem;
    color: #000000;
    text-decoration: none;
    vertical-align: super;
    cursor: pointer;
    position: relative;
  }
  .txt a[href^="#ftnt"]:after{
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

  }
    @media(min-width: 720px){
      .txt a[href^="#ftnt"]{
        cursor: default;
      }
    }
    body.streaming .txt a[href^="#ftnt"]{
      color: #FFFFFF;
    }
  .txt q,  
  .txt a{
    font-family: times, serif;
    font-size: 1.06em;
  }
  .txt q{
    font-style: italic;
  }