

.time{
  position: fixed;
  top: 4px;
  right: 4px;
  font-size: 10px;
}

.wrapper{  
  width: 100%;  
} 

  nav{
    text-align: center;
    padding: 2rem;  
    box-sizing: border-box;
  }
  nav ol{
    list-style-type: none;    
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
    .remaining{
      margin-left: .5em;
    }


